@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    background-color: #0A071B;
}

:root{
    --primary: #785EE6;
    /* --primary: #5138EE; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    @apply text-white;
}
h1 {
    @apply text-5xl font-bold leading-normal;
}
h2 {
    @apply text-3xl font-bold my-1.5 leading-normal;
}
h3 {
    font-size: 1.8rem;
    @apply leading-normal;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
.my-container {
    @apply py-5 px-20;
}
.glass {
    @apply bg-opacity-5 backdrop-blur-lg bg-white shadow-lg ring-1 ring-black/5;
}
.primary-btn { 
    @apply bg-primary text-white py-2.5 px-4 rounded-xl hover:bg-phover;
}
.primary-outline-btn { 
    @apply glass border border-spacing-1 border-primary text-white py-2.5 px-4 rounded-xl hover:bg-opacity-15;
}
.secondary-btn { 
    @apply bg-secondary text-white py-2.5 px-4 rounded-xl hover:bg-sdark;
}
@media (max-width: 639px) {
    :root{
        font-size: 14px;
    }
    .my-container {
        @apply py-10 px-5;
    }
}

@media (max-width: 440px){
  
}
